
* {
margin: 0;
padding: 0; 
box-sizing: border-box;
font-family: 'Courier New', Courier, monospace;
} 

body {
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;

}

 form {
background-color: rgb(170, 170, 209);
border: 0.2rem solid rgb(36, 36, 51);
padding: 6vh;

}
  input {
border: 0.2rem solid rgb(36, 36, 51);
width:20rem; height: 6vh;
font-size: 4vh;
box-shadow: 0.5rem 1rem 1.5rem black;
}

 #btn-send {
    font-weight: bold;
}

