body {
    background: grey;
    min-height: 100ch;
    display: flex;
    justify-content: center;
    align-items: center;
}
*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0; 
    box-sizing: border-boxs;
}

main{
    background-color: rgb(170, 170, 209);
    width: 25%;
    border-radius: 1rem;
    border: 0.5rem solid rgb(36, 36, 51);
    box-shadow: 0.5rem 1rem 1.5rem black;
    overflow: hidden;

}