* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
} 

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: rgb(170, 170, 209);
    width: 50ch;
    border-radius: 1rem;
    border: 0.2rem solid rgb(36, 36, 51);
    box-shadow: 0.5rem 1rem 1.5rem black;
    overflow: hidden;
}

#chat-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#main-warpper {
    height: 64vh;
    overflow-y: scroll;
}

.chat-content {
        overflow-y: auto;
        padding: 2ch 2ch;
        border-radius: 0.25rem;
        overflow: auto;
}

.app-header {
    background-color:  rgb(134, 134, 184);
    padding: 2ch;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid black;
}

.user-interface {
    width: auto;
    height: auto;
    background-color: rgb(170, 170, 209);
    padding: 0 1ch;
    border-radius: 0.25rem;
    border-bottom: 0.1rem solid black;
}

.user-interface input {
    border-radius: 0.5rem;
    border-color: black;
    height: 4ch;
} 

.user-interface button {
    border-radius: 0.5rem;
    border-color: black;
    font-size: large;
    margin: 1rem 2rem; 
}

.msg-row {
    display: grid;
    grid-template-columns: 30%;
    margin-bottom: 10px;
}

.chat-container .massage{
    width: 100%;
    min-height:  25ch;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.msg-sent {
    display: grid;
    grid-template-columns: 70%;
    margin-bottom: 2ch;
    justify-content: start;
    justify-items: start;
    background-color:rgb(250, 234, 234);
    border-radius: 0.5rem;
    border: 0.1rem solid black;
    box-shadow: 0.2rem 0.5rem 0.5rem rgb(128, 127, 185);
    padding: 1ch;
}

.msg-time {
    color: gray;
    font-size: 0.9ch;
}

.msg-inp {
    width: 100%;
    height: 20vh;
    display: grid;
    grid-template-rows: auto 5ch;
    border: 0.2rem solid rgb(134, 134, 184);
}

.msg-inp button {
    flex: 1;
    height: 6ch;
    border: 1rem solid  rgb(134, 134, 184);
}

#message-form {
    border: none;
    border-top: 0.1rem solid black;
}

#btn-send {
    border: none;
    border-radius: 0 0 1ch 1ch;
    background-color: rgb(134, 134, 184);
}

#btn-send:active {
    background-color:rgb(128, 127, 185);
}

textarea {
    border: none;
    padding: 1ch;
    background: back
}

#refresh {
    padding: 2ch;
}